/* Navbar Css */
* {
    border-radius: 0 !important;
  }
  nav #logo {
    width: 50px;
    margin-right: 5px;
  }
  
  .dropdown-item:hover {
    background: #457B9D;
  }
  
  .nav-item{
    margin: 0 5px;
  }





  /* Minute Page CSS */
  .main-content{
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
  }
  #graph{
    margin-left: 5%;
    margin-right: 5%;
  }
  .hidden{
    display: none !important;
  }